*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}
img{
  width: 100%;
}
body {
  margin: 0;
  padding: 0px
}
.film{
  display:block;
  width: 700px;
  margin: 0 auto;
  border: 10px double black;
  position: relative;
  overflow: hidden;
}
img {
}
figure.film-poster {
    margin: 0 auto;
    /* display: inline-block; */
    padding: 0px;
    position: relative;
    float: left;
    width: 50%;
}
.action-watch-later {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
}
h1.film-title {
    display: inline-block;
    /* position: relative; */
    left: 460px;
    bottom: 490px;
}
.film-details {
    margin: 0 auto;
    float: right;
    padding: 10px;
    width: 50%;
    right: 0;
    top: 0;
}p.film-description {
    display: block;
    /* position: relative; */
    left: 480px;
    bottom: 503px;
    width: 300px;

}
.action-like {
    DISPLAY: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: red;
}
